.chat {
    display:flex;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.chat-leftbox{
    flex-basis: 250px;
    height: 900px;
    border: 1px solid lightgrey;
    background-color: rgb(241, 241, 241);
    overflow-y: auto;
    border: 2px dashed red;
}

.chat-lefttitle{
    width: inherit;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    height: 55px;
}

.chat-righttitle{
    width: inherit;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    height: 55px;
}

.chat-rightbox{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 900px;
    border-right: 1px solid lightgrey;
    background-color: rgb(244, 244, 244);
    border: 2px dashed blue;
}

.chat-messages{
    width: inherit;
    height: 639px;
    border-left: none;
    border-right: 1px solid lightgrey;
    padding: 1rem;
    overflow-y: auto;
}

.chat-message {
    display: flex;
    padding: 0.5rem;
}

.chat-message-logo {
    display: inline-block;
    padding: 0.5rem;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5%;
}

.chat-mymessage{
    display: flex;
    margin-left: auto;
    gap: 0.25rem;
}

.chat-theirmessage{
    display: flex;
    gap: 0.25rem;
}

.chat-messagebox{
    background-color: white;
    padding: 1rem;
    max-width: 400px;
}

.chat-sendmessage{
    position: relative;
    width: inherit;
    height: 200px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: white;
}

textarea {
    width: inherit;
    height: 150px;
    border: none;
    outline: none;
    padding: 1rem;
    scroll-behavior: smooth;
    resize: none;
    border-right: 1px solid lightgrey;
}

input[type=submit]{
    position:absolute;
    right: 0.5rem;
    bottom: 0.2rem;
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid lightgray;
}