.chat {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    /* fixes width 100vw */
    border-top: 1px solid lightgrey;
}

.chat-leftbox {
    flex-basis: 250px;
    height: 900px;
    border: 1px solid lightgrey;
    border-top: none;
    background-color: rgb(241, 241, 241);
    overflow-y: auto;
}

.chat-lefttitle {
    display: flex;
    margin-bottom: auto;
    width: inherit;
    padding: 1.25rem 0.85rem 0.5rem 0.85rem;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    height: 55px;
}

.chat-lefttitle input {
    width: 160px;
    height: 25px;
    border: none;
    background-color: rgb(216, 216, 216);
    outline: none;
    border-top-right-radius: 2.5%;
    border-bottom-right-radius: 2.5%;

}

.chat-lefttitle button {
    display: flex;
    margin-left: auto;
    font-size: 1.5rem;
    padding: 0;
    border: none;
    background-color: rgb(216, 216, 216);
    border-radius: 10%;
}

.chat-searchbar {
    display: flex;
    align-items: center;
}

.chat-righttitle {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    height: 55px;
}

.chat-righttitle-userprofile {
    display: flex;
    margin-left: auto;
    border: 2px solid red;
    width: 25px;
    height: 25px;
}

.chat-rightbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 900px;
    border-right: 1px solid lightgrey;
    background-color: rgb(244, 244, 244);
}

.chat-messages {
    width: inherit;
    height: 639px;
    border-left: none;
    overflow-y: auto;
}

.chat-message {
    display: flex;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.chat-message-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    max-width: 100px;
    min-width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5%;
}

.chat-mymessage {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.chat-theirmessage {
    gap: 0.5rem; 
}

.chat-messagebox {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    max-width: 400px;
    border-radius: 2.5px;
    width: max-content;
    margin-top: -0.5rem;
}

.chat-messagebox-translated{
    margin-top: 0.25rem;
    border-left: 5px solid gray;
}

.chat-sendmessage {
    position: relative;
    width: inherit;
    height: 205px;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

textarea {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    resize: none;
}

.chat-sendbtn {
    position: absolute;
    right: 1.5rem;
    bottom: 0.2rem;
    padding: 0.5rem;
    border-radius: 2.5%;
    border: 1px solid lightgray;
}

.chat-sendbtn:hover {
    background-color: lightgrey;
}

.chat-sendmessage-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0.35rem 1rem 0.35rem 1rem;
}

.chat-sendmessage-toolbar button{
    border: none;
    background-color: transparent;
}