.flashcards{
    width: 100%;
   position: absolute;
   left: 0px;
   height: 100%;
}

.flashcards .flash-title{
   position: relative;
   left: 50;
}
.ListFlashCards .flashcards .cards{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1 rem;
 }
