.Home {
    background-color: white;
}

.Home .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 2rem;
    padding-top: 1rem;
}

.Home .intro-logo {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.Home .intro-aside {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: black;
    gap: 1rem;
    margin: 2rem;
}

.Home .intro-title {
    font-weight: bolder;
}

.Home .intro-getstarted {
    text-decoration: none;
    color: white;
    background-color: black;
    width: max-content;
    padding: 0.25rem;
    border: 2px solid black;
    border-radius: 5%;
    font-size: 1.5rem;
    filter: drop-shadow(0 0 0.25rem grey);
}

.Home .intro-features {
    list-style: square;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.Home .features {
    background-color: black;
    color: white;
    padding: 0.5rem;
}

.Home .features ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.Home .features li {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    text-align: center;
    margin: 1rem;
}

.Home .features-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.Home .quickdemo {
    border: none;
    width: 90%;
    margin: 0 auto;
}

.feautures-webchatimg{
    max-width: 500px;
    margin: 0 auto;
    flex-shrink: 1;
}

.Home footer {
    background-color: rgb(179, 179, 179);
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500Z;
}

@media screen and (max-width: 800px){
    .Home .intro {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 10px;
    }

    .Home .intro-title {
        width: 100%;
        text-align: center;
    }

    .Home .intro-features {
        margin: 0 auto;
    }

    .Home .intro-getstarted{
        margin: 0 auto;
    }

    .Home .features ul{
        display: block;
    }

    .Home .features li{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .feautures-webchatimg{
        width: 100%;
        margin: 0 auto;
    }
    
}