.Navbar {
    --navbar-bg-color: black;
    --loginbtn-hover-color: lightgray;

    background-color: var(--navbar-bg-color);
    display: flex;
    justify-content: space-between;
}

.Navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 1rem;
}

.Navbar li {
    padding: 0.75rem;  
    color: white;  
}

.Navbar a {
    border: 2px solid white;
    border-radius: 5%;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

.Navbar a:hover {
    border: 2px solid var(--loginbtn-hover-color);
    color: var(--loginbtn-hover-color);
}

.Navbar .logo{
    font-size: 1.5rem;
}

