.Navbar {
    --navbar-bg-color: black;
    --loginbtn-hover-color: lightgray;

    background-color: var(--navbar-bg-color);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px 1px gray;
}

.Navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 1rem;
}

.Navbar li {
    padding: 0.75rem;  
    color: white; 
}

.Navbar a {
    border-radius: 5%;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

.Navbar a:hover {
    border: 1px solid white;
    border-radius: 5%;
    text-decoration: none;
    color: white;
    color: var(--loginbtn-hover-color);
}

/* overwriting navbar a */
.Navbar .logo{
    font-size: 1.5rem;
    border: none;
    padding: 0;
}

.Navbar .logo:hover{
    border: none;
    color: none;
}

