.Dashboard {
    background-color: white;
}

.classrooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.classroom {
    width: 200px;
    min-height: 200px;
    background-color: gray;
    margin: 20px 50px;
    text-align: center;
    cursor: pointer;
}

.Dashboard footer {
    background-color: rgb(179, 179, 179);
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500Z;
}