/* please
    1. copy to `db-login.json`
    2. fill in the login information, and
    3. remove this comment
 */
[
  {
    "connection": {
      "host": "hostname",
      "user": "username",
      "password": "password",
      "port": "port number <int>"
    },
    "database": "database name"
  }
]
