
.Register footer {
    background-color: rgb(179, 179, 179);
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500Z;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }