.friendbar {
    display: flex;
    align-items: center;
    position: relative;
    width: inherit;
    height: 5vh; 
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
}

.friendbar-mouseover:hover{
    background-color: rgb(223, 223, 223);
}

.friendbar-active{
    background-color: rgb(187, 187, 187);
}

.friendbar-logo {
    padding: 0.5rem;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5%;
    margin-right: 0.5rem;
}

.friendbar-friend{
    width: 220px;
    border: 2px solid blue;
}

.friendbar-friend-name {
    position: absolute;
    width: 30%;
    top: 1.25rem;
    border: 2px solid red;    
    text-overflow: ellipsis;
}


.friendbar-friend-lastmsg{
    overflow: hidden;
    width: inherit;
    margin-top: 2.2rem;
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
}

.friendbar-lastdate{
    position: absolute;
    top: 1.25rem;
    right: 0.8rem;
    color: grey;
}