.Upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
}

.Upload-title {
    font-size: 1.5rem;
    margin: 10px;
    margin-top: 2rem;
}

.Upload hr {
    margin: 0;
    width: 80%;
}

.Upload-description {
    padding: 10px;
}

.Upload-filecontainer {
    position: relative;
    min-width: 350px;
    width: fit-content;
    min-height: 10px;
    border: 2px dashed black;
    text-align: center;
}

.Upload-filecontainer img {
    position: relative;
    max-width: 800px;
    height: auto;
    display: inline-block;

}

.Upload button {
    margin: 0.5rem;
    padding: 0.5rem;
}

.Upload form{
    margin: 1rem;
}

.Upload footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
}